/* Css variables */
:root{
    --primary: #ddd;
    --dark:#333;
    --light:#fff;
    --shadow:0 1px 5px rgba(104,104,104,0.8);
}

html{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--dark);
}

body{
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn{
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img{
    max-width: 100%;
}

.wrapper{
    display: grid;
    grid-gap: 20px;
}

.main_nav ul{
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4,1fr) ;
}

.main_nav a{
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main_nav a:hover{
    background: var(--dark);
    color: var(--light);
}

.top-cont{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'showcase showcase topbox-a'
    'showcase showcase topbox-b';
}
.showcase{
    grid-area: showcase;
    min-height: 400px;
    background: url(img/cc.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    box-shadow: var(--shadow);
}

.showcase h1{
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 10px;
    margin-bottom: 25px;
    color: var(--light);
}

.showcase p{
    font-size: 1rem;
    margin-top: 0;
    color: var(--light);
}

.sidebox{
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}
.topbox-a{
    grid-area: topbox-a;
}
.topbox-b{
    grid-area: topbox-b;
}

.boxes{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.box{
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 1rem;
    box-shadow: var(--shadow);
}

.info{
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2,1fr);
    padding: 3rem;
}
.info img{
   height:200px;
   width: 200px;
}

.portfolio{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}

.portfolio img{
    width: 100%;
    box-shadow: var(--shadow);
}

footer{
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align:center ;
    padding: 1rem;
}

@media (max-width:700px)
{
    .top-cont{
        grid-template-areas: 
        'showcase showcase'
        'topbox-a topbox-b';
    }
    
    .showcase h1{
        font-size: 2rem;
    }
    .main_nav ul{
        grid-template-columns: 1fr;
    }

    .info .btn{
        display: block;
        text-align: center;
        margin: auto;
    }
}

@media (max-width:500px){
    .top-cont{
        grid-template-areas: 
        'showcase '
        'topbox-a' 
       'topbox-b';
    }
.info{
    padding: 10px 25px;
    color: var(--light);
}
    .info h2{
        font-size: 1rem;

    }
    .info p{
        font-size: .7rem;
    }
    img{
        max-width: 630%;
        max-height: 65%;
    }
    
       
    
}
